/* remember, just start typing for css.  No tags. */
/* this external style sheet is initially for the account page. */
/* chose external style sheet over embedded because I expect it to be lengthy and it is best for uploading to GitHub, BUT NOW I DO NOT KNOW. I JUST NEED IT TO WORK. CAN DIVIDE LATER.
/* blue, green, red, purple, yellow*/
          

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #019ADE;
} * {
                box-sizing: border-box;
          }

/*NAV SECTION CSS*  NAV SECTION CSS NAV SECTION CSS   NAV SECTION CSS   NAV SECTION CSS   NAV SECTION CSS   NAV SECTION CSS   NAV SECTION CSS/


  
  /*Navigation Bar */
  /*padding order =  top, right, left, bottom. */
  .topnav {
    overflow: hidden;
    background-color:#2C6BFF;
    font-weight: normal;
  }
  
  /*Navigation Bar "Home" */
  .topnav a {
    float: left;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    color: white;
  }
  
  /*Navigation Bar "Home" hover */
  .topnav a:hover {
    background-color: #5588FF;
    color: black;
  }

/* card styling*/
.card {
  width: 400px;
  /*was 350px*/
  border-radius: 2px;
  margin: 75px auto;
  padding: 20px;
  background: white;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

    /* .card {
            width: 350px;
            border-radius: 2px;
            margin: 275px auto; 
            padding: 20px;
            background: #fff;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          } 
		  */


   input[type=text],
          select,
          textarea {
            width: 100%;
            padding: 12px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
          }



          input[type=submit] {
            /*the perfect color match for the active tab buttons is this rgba(105, 26, 25, .87)*/
            background-color:   #0143DB;
            /*white bc small black text is hard to see on dark background*/
            color: white;   
            padding: 20px 30px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            margin-left: 7px;
          }
		  
 input[type=submit]:hover {
            background-color: #5588FF;
          }


  .half_field {
            padding: 5px;
            float: left;
            max-width: 50%;
            margin-top: 6px;
          }
    
          .full_field {
            padding: 5px;
            margin-top: 6px;
			max-width: 100%;
          }
    
    
          .sbr:after {
            content: "";
            display: table;
            clear: both;
          }

/*TAB SECTION CSS TAB SECTION CSS   TAB SECTION CSS   TAB SECTION CSS   TAB SECTION CSS   TAB SECTION CSS   TAB SECTION CSS*/


/*no longer needed
#nav ul 
      {
        display: inline-block;
        list-style-type: none;
        font-size: 17px;
      }





/* Style the tab */
/* 5 = hover  2 = regular*/
.tab {
overflow: hidden;
border: none;
border-color: #0143DB;
background-color:  #0143DB;

}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: normal;
float: left;
border: none;
border-color: black;
outline: none;
cursor: pointer;
padding: 20px 200px; /*button reach to end of page*/
transition: 0.3s;
font-size: 17px;
color:white;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color:  #5588FF; /*rgba(56, 26, 2, 0.5)*/
padding: 20px 209.9px; /*button reach to end of page*/
}

/* Create an active/current tablink class */
.tab button.active {
background-color: lightsteelblue; /*rgba(56, 2, 56, 0.671);*/
padding: 20px 185px; /*button reach to end of page*/
}

/* Style the tab content */
.tabinfo {
display: none;
padding: 6px 12px;
border: none;
border-top: none;
background-color: lightsteelblue;
}

/*TRYING TO GET BUTTON NICE ON MAIN*/
.button {
  background-color: #0143DB;/*the perfect burgundy color match for the active tab buttons is this rgba(105, 26, 25, .87)*/
  color: white;    /*white bc small black text is hard to see on dark background*/
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 7px;
}

.space {margin-top: 25px;margin-left: 5px; }

tr.spaceUnder>td {
  padding-bottom: 1.5em;
}


/*PROFILE PHOTO CSS   PROFILE PHOTO CSS   PROFILE PHOTO CSS   PROFILE PHOTO CSS   PROFILE PHOTO CSS   PROFILE PHOTO CSS   PROFILE PHOTO CSS*/



                #myBtn { /*the perfect color match for the active tab buttons is this rgba(105, 26, 25, .87)*/
                  background-color:  #0143DB;
                  /*white bc small black text is hard to see on dark background*/
                  color: white;   
                  padding: 20px 30px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  margin-top: 20px;
                  margin-left: 7px;
                }
                #myBtn2 { /*the perfect color match for the active tab buttons is this rgba(105, 26, 25, .87)*/
                  background-color: #0143DB;
                  /*white bc small black text is hard to see on dark background*/
                  color: white;   
                  padding: 20px 30px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  margin-top: 20px;
                  margin-left: 7px;
                }

modalbutton {
  background-color: #0143DB;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

modalbutton:hover {
  opacity: 0.8;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  padding: 3px 15px;
  width: 600px;
  background-color: #2C6BFF;
  margin: 5% auto 15% auto;
}

/* The Close Button (x) */
.close {
  float: right;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #5588FF;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}