body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #2C6BFF;
}

/* Navigation Bar "Home and Account" */
.topnav a {
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

/* Navigation Bar "Home and Account" hover */
.topnav a:hover {
  background-color: #5588FF;
  color: black;
}

/* Set a style for all buttons "Login Button" & "Sign Up" */
modalbutton {
  background-color: #0143DB;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

modalbutton:hover {
  opacity: 0.8;
}

span.password {
  float: right;
  padding-right: 16px;

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  padding: 3px 15px;
  width: 600px;
  background-color: #2C6BFF;
  margin: 5% auto 15% auto;
}

/* The Close Button (x) */
.close {
  float: right;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #5588FF;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.card {
  width: 500px;
  /*was 350px*/
  border-radius: 2px;
  margin: 75px auto;
  padding: 20px;
  background: white;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/*Style for input fields*/
input[type=text],
[type=password] {
  width: 93%;
  margin: 10px 20px 10px 0px;
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*Style for submit button*/
input[type=submit] {
  background-color: #2C6BFF;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5588FF;
}

#date {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px;
  color: grey;
  margin: 10px 20px 10px 0px;
  text-transform: uppercase;
}

#quantity {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 10px 20px 10px 0px;
  color: grey;
}

/* search bar */
.searchwrap {
  width: 30%;
  position: absolute;
  padding-top: 15px;
  padding-left: 90px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #2C6BFF;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 5px solid #2C6BFF;
  background: #2C6BFF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}




/* CHECKBOX / RADIO BUTTON CSS CHECKBOX / RADIO BUTTON CSS  CHECKBOX / RADIO BUTTON CSS   CHECKBOX / RADIO BUTTON CSS   CHECKBOX / RADIO BUTTON CSS */


/*hide default styling*/
input[type=radio]:not(old),
input[type=checkbox]:not(old) {
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/*positioning and unchecked styling*/
input[type=radio]:not(old)+label,
input[type=checkbox]:not(old)+label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  line-height: 24px;
}

/*positioning and checked styling*/
input[type=radio]:not(old):checked+label {
  background-position: 0 -48px;
}

input[type=checkbox]:not(old):checked+label {
  background-position: 0 -24px;
}

/*first span, unchecked grahics*/
input[type=checkbox]:not(old)+label>span,
input[type=radio]:not(old)+label>span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid rgb(192, 192, 192);
  border-radius: 0.25em;
  background-color: rgba(85, 136, 255, .125);
  vertical-align: bottom;
}

/*bullet inside radio buttons*/
input[type=radio]:not(old):checked+label>span>span {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid#DC483C;
  border-radius: 0.125em;
  background: #DC483C;
}

/*tickmark inside checkboxes*/
/*#DC483C is a more subtle red that matches the hearts in the hands*/
input[type=checkbox]:not(old):checked+label>span:before {
  content: '✓';
  display: block;
  width: 1em;
  color: #DC483C;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em #DC483C;
  font-weight: bold;
}


/*FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS    FILTER CSS*/



.dropdown {
  position: relative;
  display: inline-block;
  float: right;

}

.filterBtn {
  background-color: whitesmoke;
  color: #DA4839;
  font-size: large;
  padding: 20px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.filterOptions {
  display: none;
  position: absolute;
  min-width: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #0143DB;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;


}

.filterOptions p {
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.filterOptions p:hover {
  background-color: #5588FF;

}

.dropdown:hover .filterOptions {
  display: block;

}

.dropdown:hover .filterBtn {
  background-color: white;

}




@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';

.projectwrapper {
  max-width: 400px;
  padding-left: 100px;
  padding-right: 100px;
  display: inline-block;
}


.card_image {
  height: 300px;
  width: 100%;
  background-color: black;
}

.card_image img {
  width: 100%;
  height: 100%;
}

.card_content {
  margin-left: 10px;
  position: relative;
}

.card_button {    
  float: right;
  position: relative;
  margin-top: -30px;
  margin-right: 10px;
}

.flag:before {
  content: "\f024";
}

.favorite:before {
  content: "\f005";
}

.button-icon {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #3498db;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}

.card_footer {
    display: inline-block;
  vertical-align: right;
}